@tailwind base;
@tailwind components;
@tailwind utilities;

.redbg {
  background: red;
}
.blogStyling {
  display: inline;
}

.blogStyling b {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blogPostWrapper p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.blogPostWrapper > img {
  margin-top: 40px;
  border-radius: 20px;
}

.featureBorderWrapLightTheme {
  position: relative;
  background: linear-gradient(0deg, #ff8fb8 10%, #afafff 55%, #ffbb9b 100%);
  padding: 2px;
  box-shadow: 0px 2.131px 6.393px 0px rgba(51, 0, 255, 0.7),
    0px 8.524px 27.702px 0px rgba(82, 0, 255, 0.41);
  transition: all 0.5s ease;
}

@media (max-width: 640px) {
  .fullWidthButtonChildren,
  .fullWidthButtonChildren button,
  .fullWidthButtonChildren div {
    width: 100% !important;
  }
}

.pagePaddingLarge {
  @apply px-10;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.list-inside {
  list-style-position: inherit;
}
.styled-table-container {
  overflow-x: auto;
  width: 100%;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.styled-table td {
  white-space: nowrap; /* Prevents text from wrapping */
}

@media screen and (max-width: 768px) {
  .styled-table th,
  .styled-table td {
    padding: 8px;
    font-size: 14px;
  }
}
